@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto+Mono:wght@200&display=swap');

html{
  background-color:black;
  color: #64ffda;
  font-family: 'NTR', sans-serif;
  font-size: 46px;
}
